@model ControleDeCinema.WebApp.Models.DetalhesSessaoViewModel

@{
	Layout = "_Layout";
	ViewBag.Title = "Detalhes da Sessao";
}

<div class="row">
	<div class="col-lg-6 d-grid gap-2 d-md-block">
        
		<div class="d-grid">
			<label class="fs-5"><strong>Sessao para o Filme: </strong> @Model.Filme.Titulo</label>

			<label><strong>Id:</strong> [@Model.Id]</label>
			<label><strong>Status:</strong> @Model.Encerrada</label>
			<label><strong>Horario:</strong> @Model.Horario</label>
			<label><strong>Sala:</strong> @Model.Sala</label>
			<label><strong>Numero de Ingressoss:</strong> @Model.NumIngressos</label>
		</div>

		<a href="/sessao/listar" class="btn btn-secondary px-5 mt-4">
			<i class="bi bi-arrow-return-left me-1"></i>
			Voltar
		</a>
	</div>
</div>