@model IEnumerable<ControleDeCinema.WebApp.Models.ListarSessaoViewModel>

@{
	Layout = "_Layout";
	ViewBag.Title = "Lista de Sessões";
}

@if (Model.Count() == 0)
{
	<label class="control-label fw-semibold mt-1 mx-1">Ainda não existem sessões cadastradas :(</label>
}

<div class="mt-3">
	<a class="btn btn-primary px-4" href="/sessao/inserir">
		<i class="bi bi-plus-circle"></i>
		Inserir nova sessão
	</a>
</div>

<div class="row gap-3 mt-3 p-2">
	@foreach (var sessao in Model)
	{
		var border = "border-secondary";
		var text = "";
		var estado = "";
		var habilitado = "";

		if (DateTime.Now >= sessao.Horario)
			estado = "[EM ANDAMENTO]";

		if (sessao.Encerrada)
		{
			border = "border-danger";
			text = "text-danger";
			estado = "[ENCERRADA]";
			habilitado = "disabled";
		}

		if (sessao.NumIngressosDisponiveis == 0)
			estado += "[ESGOTADA]";

		if (sessao.NumIngressosDisponiveis != sessao.Sala.Capacidade)
			habilitado = "disabled";

		if (ViewBag.Linha == sessao.Id){
			<hr /> }

		<div class="card col-md-5 col-lg-5 col-xl-4 @border">
			<div class="card-body @text">
				<div class="row row-cols-2">
					<label class="card-title fs-5 fw-semibold">Filme: @sessao.Filme</label>
					<div class="text-end">
						<a class="btn btn-secondary btn-sm" href="/sessao/detalhes/@sessao.Id">
							<i class="bi bi-search"></i>
						</a>

						<a class="btn btn-primary btn-sm @habilitado" href="/sessao/editar/@sessao.Id">
							<i class="bi bi-pencil-square"></i>
						</a>

						<a class="btn btn-danger btn-sm @habilitado" href="/sessao/excluir/@sessao.Id">
							<i class="bi bi-trash3"></i>
						</a>
					</div>
				</div>
				<p class="card-subtitle fs-6"><strong>Horário:</strong> @sessao.Horario.ToString(@"dd/MM") @sessao.Horario.ToShortTimeString()</p>
				<div class="row row-cols-2">
					<p class="card-subtitle fs-6"><strong>Id:</strong> [@sessao.Id]</p>
					<p class="card-subtitle text-end" style="font-size: 12px"><strong>@estado</strong></p>
				</div>
			</div>
		</div>
	}
</div>

